<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
	id="cordova-plugin-pl43scanner"
	version="0.0.2">
	<name>PL43Scanner</name>
	<description>
		This plugin allows PL43 to scan barcode
	</description>
	<license>MIT</license>
	<engines>
		<engine name="cordova" version=">=3.0.0" />
	</engines>  
	<js-module src="www/pl43scanner.js" name="PL43Scanner">
		<clobbers target="cordova.plugins.pl43scanner" />
	</js-module>
	<!-- android -->
	<platform name="android">
		<source-file src="src/android/com/sysmagic/plugins/PL43Scanner.java" target-dir="src/com/sysmagic/plugins" />

		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="PL43Scanner">
				<param name="android-package" value="com.sysmagic.plugins.PL43Scanner"/>
			</feature>
		</config-file>
		<config-file target="AndroidManifest.xml" parent="/manifest/application">
			<activity
			android:clearTaskOnLaunch="true"
			android:configChanges="orientation|keyboardHidden"
			android:exported="false"
			android:name="com.sysmagic.plugins.ScanActivity"
			android:theme="@android:style/Theme.Translucent.NoTitleBar"
			android:windowSoftInputMode="stateAlwaysHidden">
				<intent-filter>
					<action android:name="com.sysmagic.plugins.SCAN" />
					<category android:name="android.intent.category.DEFAULT" />
				</intent-filter>
			</activity>
			<service android:name="com.sysmagic.plugins.ScanService" />
		</config-file>
	</platform>
</plugin>